#title {
    position: relative;
    left: 45%;
}
#button1{
    position: relative;
    left: 47.5%;
}
#button2{
    position: relative;
    left: 47.5%;
}
#button3{
    position: relative;
    left: 47.5%;
}

#button4{
    position: relative;
    left: 47.5%;
}

#listSomething{
    position: relative;
    top: 75%;
    left: 44%;
}

div {
    margin: 20px;
}

#button4{
    position: relative;
    left: 46.5%;
}

#button5{
    position: relative;
    left: 47.5%;
}

#button6{
    position: relative;
    left: 47.5%;
}

#button7{
    position: relative;
    left: 45.5%;
}